  /* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}   */

.nav-items {
  list-style: none;
  display: flex;
}

  .nav-items > li {
  padding: 10px;
  font-size: 20px;
} 
.heading{
  text-align: center;
}
.heading-para {
  display: grid;
  justify-content: center;
  font-size: 20px;
  
}
.footer{
  background-color: aqua;
  text-align: center;
  padding: 10px;
}

